<table class="list">
	<tr>
		<td>
			<a href="http://altkom.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/altkom-logo.png" title="Altkom logo" alt="Altkom logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://altkom.pl">Altkom Akademia S.A.<br/>an Altkom S.A. subsidiary</a>
		</td>
		<td>
			<a href="http://altkom.pl">http://altkom.pl</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://bluepocket.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/bluepocket-logo.png" title="Bluepocket logo" alt="Bluepocket logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://bluepocket.com">Bluepocket</a>
		</td>
		<td>
			<a href="http://bluepocket.com">http://bluepocket.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://consileon.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/consileon-logo.png" title="Consileon logo" alt="Consileon logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://consileon.pl">Consileon Polska</a>
		</td>
		<td>
			<a href="http://consileon.pl">http://consileon.pl/en/</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://ezosfera.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/ezosfera-logo.png" title="Ezosfera logo" alt="Ezosfera logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://ezosfera.pl">Ezosfera</a>
		</td>
		<td>
			<a href="http://ezosfera.pl">http://ezosfera.pl/</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gadu-gadu.pl.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/gg-logo.png" title="GG Network logo" alt="GG Network logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://www.gadu-gadu.pl">GG Network S.A. (formerly Gadu-Gadu S.A.)<br/>
			a&nbsp;Naspers subsidiary</a>
		</td>
		<td>
			<a href="http://www.gadu-gadu.pl">http://www.gadu-gadu.pl/</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://imm.org.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/imm-logo.png" title="IMM logo" alt="IMM logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://www.imm.org.pl">Institute of Mathematical Machines</a>
		</td>
		<td>
			<a href="http://www.imm.org.pl">http://www.imm.org.pl/</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://macoscope.net/en"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/macoscope-logo.png" title="Macoscope logo" alt="Macoscope logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://macoscope.net/en">Macoscope sp. z o.o.</a>
		</td>
		<td>
			<a href="http://macoscope.net/en">http://macoscope.net/en</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://orchidgames.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/orchidgames-logo.png" title="Orchidgames logo" alt="Orchidgames logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://orchidgames.com">Orchidgames</a>
		</td>
		<td>
			<a href="http://orchidgames.com">http://orchidgames.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://softprodukt.com.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/softprodukt-logo.png" title="Softprodukt logo" alt="Softprodukt logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://softprodukt.com.pl">Softprodukt sp. z o. o.</a>
		</td>
		<td>
			<a href="http://softprodukt.com.pl">http://softprodukt.com.pl</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://tele-scope.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/telescope-logo.png" title="Telescope logo" alt="Telescope logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://tele-scope.com">TeleScope s. c.</a>
		</td>
		<td>
			<a href="http://tele-scope.com">http://tele-scope.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://webankieta.pl"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/webankieta-logo.png" title="Webankieta logo" alt="Webankieta logo" class="logo"/></a>
		</td>
		<td>
			<a href="http://webankieta.pl">Webankieta</a>
		</td>
		<td>
			<a href="http://webankieta.pl">http://webankieta.pl</a>
		</td>
	</tr>
</table>
