<table class="list">
	<!--
	<tr>
		<td>
			<a href="http://url"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/name-logo.png" title="Name logo" alt="Name logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://url">Name</a>
		</td>
		<td>
			<a href="http://url">http://url</a>
		</td>
	</tr>
	-->
	<tr>
		<td>
			<a href="http://aws.amazon.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/amazon_web_services-logo.png" title="Powered by Amazon Web Services" alt="Powered by Amazon Web Services" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://aws.amazon.com">Amazon Web Services</a>
			<ul>
				<li><a href="http://aws.amazon.com/cloudfront">Amazon CloudFront</a></li>
				<li><a href="http://aws.amazon.com/ec2">Amazon Elastic Compute Cloud (Amazon EC2)</a></li>
				<li><a href="http://aws.amazon.com/s3">Amazon Simple Storage Service (Amazon S3)</a></li>
				<li><a href="http://aws.amazon.com/route53">Amazon Route 53</a></li>
			</ul>
		</td>
		<td>
			<a href="http://aws.amazon.com">http://aws.amazon.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://cloudkick.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/cloudkick-logo.png" title="Cloudkick logo" alt="Cloudkick logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://cloudkick.com">Cloudkick</a>
		</td>
		<td>
			<a href="http://cloudkick.com">http://cloudkick.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://dnsmadeeasy.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/dnsmadeeasy-logo.png" title="DNS Made Easy logo" alt="DNS Made Easy logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://dnsmadeeasy.com">DNS Made Easy</a>
		</td>
		<td>
			<a href="http://dnsmadeeasy.com">http://dnsmadeeasy.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://github.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/github-logo.png" title="GitHub logo" alt="GitHub logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://github.com">GitHub</a>
		</td>
		<td>
			<a href="http://github.com">http://github.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://hetzner.de"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/hetzner-logo.png" title="Hetzner logo" alt="Hetzner logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://hetzner.de">Hetzner</a>
		</td>
		<td>
			<a href="http://hetzner.de">http://hetzner.de</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linode.com/?r=74b338090852beb2c64c5f03cc74dd72a05e2aa9"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/linode-logo.png" title="Linode logo" alt="Linode logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://www.linode.com/?r=74b338090852beb2c64c5f03cc74dd72a05e2aa9">Linode</a>
		</td>
		<td>
			<a href="http://www.linode.com/?r=74b338090852beb2c64c5f03cc74dd72a05e2aa9">http://linode.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://pagerduty.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/pagerduty-logo.png" title="Pagerduty logo" alt="Pagerduty logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://pagerduty.com">Pagerduty</a>
		</td>
		<td>
			<a href="http://pagerduty.com">http://pagerduty.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://puppetlabs.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/puppetlabs-logo.png" title="Puppetlabs logo" alt="Puppetlabs logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://puppetlabs.com">Puppetlabs</a>
		</td>
		<td>
			<a href="http://puppetlabs.com">http://puppetlabs.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://rackspace.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/rackspace-logo.png" title="Rackspace logo" alt="Rackspace logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://rackspace.com">Rackspace</a>
		</td>
		<td>
			<a href="http://rackspace.com">http://rackspace.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://rightscale.com"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/rightscale-logo.png" title="Rightscale logo" alt="Rightscale logo" class="logo"/></div></a>
		</td>
		<td>
			<a href="http://rightscale.com">Rightscale</a>
		</td>
		<td>
			<a href="http://rightscale.com">http://rightscale.com</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://manage.slicehost.com/customers/new?referrer=2e0f86f016aacdd977de4ccd034359fa"><div class="logo-cell"><img src="http://static.onoclea.com/images/logos/slicehost-logo.png" title="Slicehost logo" alt="Slicehost logo" class="logo" /></div></a>
		</td>
		<td>
			<a href="http://manage.slicehost.com/customers/new?referrer=2e0f86f016aacdd977de4ccd034359fa">Slicehost</a>
		</td>
		<td>
			<a href="http://manage.slicehost.com/customers/new?referrer=2e0f86f016aacdd977de4ccd034359fa">http://slicehost.com</a>
		</td>
	</tr>
</table>
