<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="language" content="pl" />
	
		<link rel="stylesheet" href="http://static.onoclea.com/css/style.css" media="screen" />
		<link rel="stylesheet" href="http://static.onoclea.com/css/syntax.css" media="screen" />

		<link rel="alternate" type="application/rss+xml" title="Onoclea Paweł Sawicki" href="http://feeds.feedburner.com/Onoclea" />
	
		<script type="text/javascript" src="http://static.onoclea.com/scripts/jquery-1.4.2.min.js"></script>
	
		<script type="text/javascript" src="http://static.onoclea.com/scripts/cufon-yui.js"></script>
	
		<script type="text/javascript" src="http://static.onoclea.com/scripts/Kurier_Condensed.font.js"></script>
		<script type="text/javascript" src="http://static.onoclea.com/scripts/Kurier_Condensed_Light.font.js"></script>

		<script type="text/javascript" src="http://static.onoclea.com/scripts/Yanone_Kaffeesatz_Light.font.js"></script>
	
		<script type="text/javascript">
			Cufon.replace('#banner',{fontFamily: 'Kurier Condensed'});

			Cufon.replace('#content h1',{fontFamily: 'Kurier Condensed'});
			Cufon.replace('#content h2',{fontFamily: 'Kurier Condensed Light'});

			Cufon.replace('#wrapper .leftc h1',{fontFamily: 'Yanone Kaffeesatz Light'});
			Cufon.replace('#wrapper .leftc h1',{fontFamily: 'Yanone Kaffeesatz Light'});

			Cufon.replace('#menu a',{hover:true, fontFamily: 'Yanone Kaffeesatz Light'});
		</script>
		<title>Onoclea - {{ page.title }}</title>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-19646343-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="outer-wrapper">
			<div id="wrapper">

				<div class="leftc">
					<div class="cell-1">
						<a href="http://onoclea.com/"><img src="http://static.onoclea.com/images/layout/onoclea-logo.png" title="Onoclea Logo" alt="Onoclea Logo" class="logo"/></a>
					</div>
		
					<img src="http://static.onoclea.com/images/layout/hline-1.png" title="Separator" alt="Separator" class="separator"/>
		
					<div class="cell-2">
						<h1>O mnie</h1>
						<p>
							Jestem specjalistą telekomunikacyjny z doświadczeniem w projektowaniu, wytwarzaniu i wdrażaniu wysokodostępnych systemów informatycznych.
						</p>
					</div>
		
					<img src="http://static.onoclea.com/images/layout/hline-1.png" title="Separator" alt="Separator" class="separator"/>
		
					<div class="cell-3">
						<h1><a href="{{ site.url }}/kontakt.html">Kontakt</a></h1>
						<p>
							Tel. kom. - Polska (preferowany)<br/>
							<a href="tel:+48601610614">+48&nbsp;601&nbsp;610&nbsp;614</a><br/>
							Tel. kom. - Wlk. Brytania<br/>
							<a href="tel:+447565605604">+44&nbsp;7565&nbsp;605&nbsp;604</a><br/>
							eMail:<br/>
							<a href="mailto:pawel.sawicki@onoclea.com">pawel.sawicki@onoclea.com</a>
						</p>
					</div>

					<a href="http://en.onoclea.com/about_me.html">
						<div class="cell-4">
							<h1>
								English version
								<br />
								<img src="http://static.onoclea.com/images/layout/flag-england.png" alt="English version" title="English version"/>
							</h1>
						</div>
					</a>
				</div>

				<div class="rightc">
		
					<div id="menu">
						<a href="{{ site.url }}/o_mnie.html">O mnie</a>
						<a href="{{ site.url }}/klienci.html">Klienci</a>
						<a href="{{ site.url }}/modus_operandi.html">Modus operandi</a>
						<a href="{{ site.url }}/bity.html">Bity</a>
						<a href="{{ site.url }}/kontakt.html">Kontakt</a>
					</div>
		
					<div id="banner">
						<div id="text-1">Potrzebujesz specjalisty od "Cloud-ów", IT albo Telekomunikacji?</div>
						<div id="text-2"><a href="{{ site.url }}/kontakt.html">Skontaktuj się ze mną!</a></div>
					</div>

					<div id="content">
						{{ content }}

						<div id="footer">
							<img src="http://static.onoclea.com/images/layout/hline-2.png" title="" alt="" />
							<a href="{{ site.url }}/o_mnie.html">O mnie</a>
							<a href="{{ site.url }}/klienci.html">Klienci</a>
							<a href="{{ site.url }}/modus_operandi.html">Modus operandi</a>
							<a href="{{ site.url }}/bity.html">Bity</a>
							<a href="{{ site.url }}/kontakt.html">Kontakt</a>
							<span class="info">© 2010 Onoclea Paweł Sawicki</span>
						</div>
					</div>

					<div id="bottom"></div>
					<script type="text/javascript"> Cufon.now(); </script>
				</div>

				<div style="clear:both;height:1px;"></div>
			</div>
		</div>
	</body>
</html>
